.wrapper {
    margin: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 20px 20px;
    background-color: #cad7e4;
    width: 100%;
}

.btn {
    display: flex;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 0.25rem;
    justify-content: center;
    color: #fff;
    border: none;
    padding: 0.5rem 0.2rem 0.6rem 0.2rem;
    width: 20px;
    height: 20px;
}
