.wrapper {
    margin: 0.8rem;
    display: flex;
    background-color: #cad7e4;
    width: 100%;
}

.btn {
    display: flex;
    color: #000000;
    background-color: rgb(190, 111, 111);
    border: none;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 20px;
    height: 20px;
    justify-content: center;
}