.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    flex-direction: column;
}

.products {
    width: 100%;
    flex-grow: 1; 
    overflow-y: auto;
    justify-content: center;
    margin-bottom: 20px;
    // align-content: flex-start;
    // flex-wrap: nowrap;
}

