.container {
    display: flex;
    .price {
        font-weight: 500;
        margin: 5px;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: 500;
    width: 100%;
}

.wrapper {
    width: 100%;
}