@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --border-color: rgb(199, 39, 39);
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.full-center {
  align-items: center;
  justify-content: center;
}

/* Clear styles for input field */
.p-inputtext,
.p-inputnumber-input,
.p-filled {
  width: 60px;
  height: 20px;
  text-align: center;
}

/* Clear styles for buttons */
.p-inputnumber-button,
.p-inputnumber-button-up,
.p-button-icon-only,
.p-button-secondary {
height: 20px;
width: 40px;
margin: 0;
}



