.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.products {
    flex-grow: 1; 
    overflow-y: auto; 
}


.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 100px;
    height: 40px;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 100px;
}

.price {
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 100px;
}