<div class="gap-1 wrapper">
  <img [src]="product.image" [alt]="product.name" [id]="productId"/>
  <div class="product-item">
    <h2 [id]="productId">{{ product.name | name }}</h2>
    <p [id]="productId">{{ product.price | price }}</p>

    <!-- Conditional rendering: If not editing quantity, show "Add to Cart" button -->
    <!-- [prevent propagation -->
    <div class="container">
      <button
        class="btn"
        *ngIf="!displayQuantityDialog()"
        pButton
        type="button"
        label="Add to Cart"
        (click)="displayQuantityDialog.set(true)"
      ></button>
    </div>

    <!-- Conditional rendering: If editing quantity, show quantity input and buttons -->
    <!-- <div *ngIf="displayQuantityDialog()" class="quantity-input-group"> -->
    <div [hidden]="!displayQuantityDialog()" class="quantity-input-group">
      <div class="full-center flex input-number">
        <p-inputNumber
          [(ngModel)]="count"
          [showButtons]="true"
          [min]="0"
          buttonLayout="horizontal"
          inputId="horizontal"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-secondary"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
        />
      </div>
      <div class="dialog-footer gap-05 okbuttons"> 
        <!-- OK and Cancel buttons -->
        <button
          pButton
          type="button"
          icon="pi pi-check"
          (click)="confirm($event)"
          class="p-button-sm"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="cancelEditQuantity()"
          class="p-button-sm p-button-secondary"
        ></button>
      </div>
    </div>


</div>

  <!-- <div class="container">
    <h2
    [pTooltip]="product.name.length > 15 ? product.name : undefined"
    tooltipPosition="left"
    class="title"
  >
    {{ product.name | name : 16 : "..." }}
  </h2>
  <div class="row gap-05 mt">
    <span class="price-label">Price:</span>
    <span class="price">{{ product.price | price }}</span>
  </div>
  </div> -->
  <!-- <div class="full-center flex">
    <button class="btn" (click)="confirm($event)">Add To Cart</button>
  </div> -->

  <p-toast />
  <p-confirmPopup #confirmPopupRef>
    <ng-template pTemplate="headless" let-message let-test>
      <div class="container gap-1 confirm">
        <span class="msg">{{ message.message }}</span>
        <div class="gap-1">
          <!-- <p-button (onClick)="accept()" label="Add" size="small" />
          <p-button
            (onClick)="reject()"
            label="Cancel"
            [outlined]="true"
            size="small"
          /> -->
          <button
            pButton
            type="button"
            icon="pi pi-check"
            (click)="accept()"
            class="p-button-sm"
            label="Add"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-times"
            (click)="reject()"
            class="p-button-sm p-button-secondary"
            label="Cancel"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-confirmPopup>
</div>
